{% extends 'base.html.twig' %}

{% block title %}
    {{parent()}} | Mon profil
{% endblock %}

{% block body %}
<div class="container-card">
<div class="flip-card">
    <div class="flip-card-inner">
        <div class="flip-card-front">
            <div class="profile-image">
        {% set photoProfil = app.user.photo %}
        {% if photoProfil == null %}
        <img src="{{ asset('img/photo/default.png') }}" class="pfp" alt="sansPhotoProfil">
        {% else %}

                <img src="{{ asset('img/photo/' ~ app.user.photo) }}" class="pfp" alt="sansPhotoProfil">

        {% endif %}
                <div class="name">
                    {{ app.user.userIdentifier }}
                </div>
            </div>
        </div>
                <div class="flip-card-back">
                    <div class="description">
                <h5>Prénom : </h5>
                <p>{{ app.user.prenom }}</p>


                <h5>Nom : </h5>
                <p>{{ app.user.nom }}</p>


                <h5>Téléphone : </h5>
                <p>{{ app.user.telephone }}</p>


                <h5>Email : </h5>
                <p>{{ app.user.mail }}</p>


                <h5>Campus </h5>
                <p>{{ app.user.campus.nom }}</p>

                    </div>
                </div>


    </div>
</div>
</div>
    <div class="deuxBoutons">
    <button id="updateBouton">Modifier</button>
    <button id="retourBouton">Retour</button>
    </div>

    <script>
        document.getElementById('retourBouton').addEventListener('click', function () {
            window.location.href = "{{ path('main_homepage') }}"

        })
        document.getElementById('updateBouton').addEventListener('click', function() {
            window.location.href =  "{{ path('profile_update', {'id': app.user.id}) }}";

        })
    </script>

{% endblock %}
