{% extends 'base.html.twig' %}

{% block title %}
    {{parent()}} | Mon profil
{% endblock %}

{% block body %}
    <div class="recap">
        <h2>{{ app.user.userIdentifier }}</h2>
        {% set photoProfil = app.user.photo %}
        {% if photoProfil == null %}
        <img src="{{ asset('img/photo/default.png') }}" alt="sansPhotoProfil">
        {% else %}
            <div class="imgProfil">
                <img src="{{ asset('img/photo/' ~ app.user.photo) }}" alt="sansPhotoProfil">
            </div>
        {% endif %}
            <div class="ligneFormulaire">
                <h5>Prénom : </h5>
                <p>{{ app.user.prenom }}</p>
            </div>
            <div class="ligneFormulaire">
                <h5>Nom : </h5>
                <p>{{ app.user.nom }}</p>
            </div>
            <div class="ligneFormulaire">
                <h5>Téléphone : </h5>
                <p>{{ app.user.telephone }}</p>
            </div>
            <div class="ligneFormulaire">
                <h5>Email : </h5>
                <p>{{ app.user.mail }}</p>
            </div>
            <div class="ligneFormulaire">
                <h5>Campus </h5>
                <p>{{ app.user.campus.nom }}</p>
            </div>
    </div>

<div class="deuxBoutons">
    <button id="updateBouton">Modifier</button>
    <button id="retourBouton">Retour</button>
</div>

    <script>
        document.getElementById('retourBouton').addEventListener('click', function () {
            window.location.href = "{{ path('main_homepage') }}"

        })
        document.getElementById('updateBouton').addEventListener('click', function() {
            window.location.href =  "{{ path('profile_update', {'id': app.user.id}) }}";

        })
    </script>

{% endblock %}
