{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} | Profil de {{ participant.userIdentifier }}
{% endblock %}

{% block body %}
    <div class="container-card">
        <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <div class="profile-image">
                        {% set photoProfil = participant.photo %}
                        {% if photoProfil == null %}
                            <img src="{{ asset('img/photo/default.png') }}" alt="sansPhotoProfil" class="pfp">
                        {% else %}
                            <img src="{{ asset('img/photo/' ~ participant.photo) }}" alt="sansPhotoProfil" class="pfp">
                        {% endif %}
                        <div class="name">
                            <h2>{{ participant.userIdentifier }}</h2>
                        </div>
                    </div>
                </div>
                <div class="flip-card-back">
                    <div class="description">
                        <h5>Prénom : </h5>
                        <p>{{ participant.prenom }}</p>

                        <h5>Nom : </h5>
                        <p>{{ participant.nom }}</p>

                        <h5>Téléphone : </h5>
                        <p>{{ participant.telephone }}</p>

                        <h5>Email : </h5>
                        <p>{{ participant.mail }}</p>

                        <h5>Campus </h5>
                        <p>{{ participant.campus.nom }}</p>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="deuxBoutons">
        <button id="retourBouton">Retour</button>
    </div>
    <script>
        document.getElementById('retourBouton').addEventListener('click', function () {
            window.location.href = "{{ path('main_homepage') }}"

        })
    </script>
{% endblock %}



