{% extends 'base.html.twig' %}

{% block title %}
{{ parent() }} | Modifier le profil
{% endblock %}

{% block body %}
   {{ form_start(participantForm) }}
 <div class="ligneFormulaire">
  {{ form_row(participantForm.username) }}
 </div>
 <div class="ligneFormulaire">
 {{ form_row(participantForm.plainPassword, {
  label: 'Password'
 }) }}
 </div>
 <div class="ligneFormulaire">
 {{ form_row(participantForm.nom) }}
 </div>
 <div class="ligneFormulaire">
 {{ form_row(participantForm.prenom) }}
 </div>
 <div class="ligneFormulaire">
 {{ form_row(participantForm.telephone) }}
 </div>
 <div class="ligneFormulaire">
 {{ form_row(participantForm.mail) }}
 </div>
 <div class="ligneFormulaire">
 {{ form_row(participantForm.campus) }}
 </div>
 {{ form_end(participantForm) }}
 <div class="deuxBoutons">
  <button id="saveButton">Enregistrer</button>
 <button id="returnButton">Annuler</button>
 </div>
 <script>
  document.getElementById('returnButton').addEventListener('click', function () {
   window.location.href = "{{ path('profile_index') }}"
  })
   document.getElementById('saveButton').addEventListener('click', function () {
    window.location.href = "{{ path('profile_update', {'id': app.user.id}) }}"
  })
 </script>
{% endblock %}



