{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} | Campus

{% endblock %}

{% block body %}
    <h2>Gérer les campus</h2>

    {# on crée un formulaire et on désigne la route du controller ou on veut envoyer la data #}
    <form action="{{ path('campus_trouverCampus') }}" >
        <label for="recherche">Le nom contient : </label>
        <label>
            <input type="search" name="recherche">
        </label>
        <input type="submit" value="Rechercher">
    </form>

    {# On vérifie que campus ne soit pas vide, si c'est le cas on affiche le contenu sous la forme
        d'un tableau.#}
    {% if campus is not empty %}
        <table>
            <thead>
            <tr>
                <th>Campus</th>
                <th>Actions</th>
            </tr>
            </thead>

            <tbody>

            {# Initialisation d'une boucle for pour itérer sur chaque élément dans campus. #}
            {% for camp in campus %}
                <tr>
                    <td>{{ camp.nom }}</td>
                    <td>
                        <a href="{{ path('campus_update', {'id': camp.id})}}">Modifier</a> -
                        <a href="{{ path('campus_delete', {'id': camp.id})}}">Supprimer</a>
                    </td>
                </tr>
            {% endfor %}
                <tr>
                    <td> </td>
                    <td><a href="{{path('campus_add')}}">Ajouter</a></td>
                </tr>
            </tbody>
        </table>

        {# S'il n'y a rien dans campus, alors on affiche le message suivant. #}
    {% else %}
        <p>Aucun campus trouvé.</p>
    {% endif %}
{% endblock %}
