{% extends 'base.html.twig' %}

{% block title %}{{parent()}} | Accueil{% endblock %}

{% block body %}
    <h3>Bonjour, {{ app.user.prenom }} !</h3>
    <H4>{% set trans_day_hash = {
        "Monday": "Lundi",
        "Tuesday": "Mardi",
        "Wednesday": "Mercredi",
        "Thursday": "Jeudi",
        "Friday": "Vendredi",
        "Saturday": "Samedi",
        "Sunday": "Dimanche"
    }
    %}
    {{ trans_day_hash["now"|date('l')] }}
        {{ date().format('j') }}

    {% set trans_month_hash = {
        "January": "Janvier",
        "February": "Février",
        "March": "Mars",
        "April": "Avril",
        "May": "Mai",
        "June": "Juin",
        "August": "Août",
        "September": "Septembre",
        "October": "Octobre",
        "November": "Novembre",
        "December": "Décembre"
    }
    %}
    {{ trans_month_hash["now"|date('F')] }}
        {{ date().format('Y') }}</H4>

    <div class="tableauAccueil">
<table>
    <thead>
    <tr>
        <th>Nom de la sortie</th>
        <th>Date de la sortie</th>
        <th>Clôture</th>
        <th>Inscrits/places</th>
        <th>Etat</th>
        <th>Inscrit</th>
        <th>Organisateur</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    {% for sortie in sorties %}
        <tr>
            <td>{{ sortie.nom }}</td>
            <td>{{ sortie.dateHeureDebut | date('d/m/Y H:i')}}</td>
            <td>{{ sortie.dateLimiteInscription | date('d/m/Y') }}</td>
            <td>? / {{ sortie.nbInscriptionsMax }}</td>
            <td>{{ sortie.etat.libelle }}</td>
            <td> ? </td>
            <td> {{ app.user.prenom }} {{ app.user.nom }} </td>
            <td><a href="{{ path('sortie_show', {'idSortie': sortie.id})}}">Afficher</a> -
                <a href="{{ path('sortie_cancel', {'idSortie': sortie.id})}}">Annuler</a> -
                <a href="{{ path('sortie_update', {'idSortie': sortie.id})}}">Modifier</a>
                <a href="">Se désister - </a>
                <a href="{{ path('main_inscrire', {'id': sortie.id}) }}">S'inscrire - </a>
                <a href="">Publier</a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
    </div>
    <button id="createSortie">Créer une sortie</button>
    <script>
        document.getElementById('createSortie').addEventListener('click', function() {
            window.location.href = "{{ path('sortie_add')}}"
        })
    </script>
{% endblock %}
