{% extends 'base.html.twig' %}

{% block body %}
    <div class="ligneFormulaire">
        <h5>Nom de la sortie : </h5>
        {{ sorties.nom }}</div>
    <div class="ligneFormulaire">
        <h5>Date et heure de la sortie : </h5>
        {{ sorties.dateHeureDebut | date('d/m/Y H:i') }}
    </div>
    <div class="ligneFormulaire">
        <h5>Campus : </h5>
        {{ sorties.campus.nom }}
    </div>
    <div class="ligneFormulaire">
        <h5>Lieu :</h5>
        {{ sorties.lieu.nom }}, {{ sorties.lieu.rue }},
        {{ sorties.lieu.ville.codePostal }},{{ sorties.lieu.ville.nom }}
    </div>


    <label for="annulSortie">Motif : </label>
    <textarea id="annulSortie" name="annulationSortie"
                                               rows="5" cols="30">

    </textarea>

{% endblock %}

{% block title %}
{{ parent() }} | Annuler une sortie
{% endblock %}