{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} | Détail
{% endblock %}

{% block body %}

    <h2>  Détail de la sortie {{ sorties.nom }}</h2>
    <div class="detail">
        <div class="ligneDétail">
            <h5>Date et heure de la sortie : </h5>
            {{ sorties.dateHeureDebut | date('d/m/Y H:i') }}
        </div>
        <div class="ligneDétail">
            <h5>Date limite d'inscription : </h5>
            {{ sorties.dateLimiteInscription | date('d/m/Y') }}
        </div>
        <div class="ligneDétail">
            <h5>Nombre de places : </h5>
            {{ sorties.nbInscriptionsMax }}
        </div>
        <div class="ligneDétail">
            <h5>Durée : </h5>
            {{ sorties.duree }} minutes
        </div>
        <div class="ligneDétail">
            {% if sorties.etat.libelle == "Annulée" %}
                <h5>Motif de l'annulation : </h5>
            {% else %}
                <h5>Description et infos : </h5>
            {% endif %}
            {{ sorties.infosSortie }}
        </div>
        <div class="ligneDétail">
            <h5>Campus : </h5>
            {{ sorties.campus.nom }}
        </div>
        <div class="ligneDétail">
            <h5>Lieu : </h5>
            {{ sorties.lieu.nom }}
        </div>
        <div class="ligneDétail">
            <h5>Rue : </h5>
            {{ sorties.lieu.rue }}
        </div>
        <div class="ligneDétail">
            <h5>Code Postal : </h5>
            {{ sorties.lieu.ville.codePostal }}
        </div>
        <div class="ligneDétail">
            <h5>Latitude : </h5>
            {{ sorties.lieu.latitude }}
        </div>
        <div class="ligneDétail">
            <h5>Longitude : </h5>
            {{ sorties.lieu.longitude }}
        </div>

    </div>
        <h5>Liste des participants inscrits : </h5>

    <table>
        <thead>
        <tr>
            <th>Pseudo</th>
            <th>Nom</th>
        </tr>
        </thead>
        <tbody>
        {% for eachOne in sortieParticipants %}
            <tr>
                <td>
                    <div class="ajouter">
                        <a href="{{ path('profile_show', {'id': eachOne.id}) }}">{{ eachOne.username }}</a>
                    </div>
                </td>
                <td>
                    <div class="ajouter">
                        {{ eachOne.prenom }} {{ eachOne.nom }}
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}



