{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} | Ajouter une sortie

{% endblock %}

{% block body %}
    <h2>Ajouter une sortie</h2>
    <div class="centrer">
    Commencez par
        <a href="{{ path('lieu_add') }}"><input type="button" value="Ajouter un lieu"></a>
{#    <button id="show-lieu-form-btn" type="button">Ajouter un lieu</button>#}
{#    <form id="lieu-form" style="display: none;">#}
{#        {{ form_start(lieuForm) }}#}
{#    <button id="lieu-form" type="button">Ajouter</button>#}
{#        {{ form_end(lieuForm) }}#}
    </div>
    {{ form_start(sortieForm) }}
    <div class="ligneFormulaire">
    {{ form_label(sortieForm.nom) }}
    {{ form_widget(sortieForm.nom) }}
    </div>
    <div class="ligneFormulaire">
    {{ form_label(sortieForm.dateHeureDebut) }}
    {{ form_widget(sortieForm.dateHeureDebut) }}
    </div>
    <div class="ligneFormulaire">
    {{ form_label(sortieForm.duree) }}
    {{ form_widget(sortieForm.duree) }}
    </div>
    <div class="ligneFormulaire">
        {{ form_label(sortieForm.dateLimiteInscription) }}
        {{ form_widget(sortieForm.dateLimiteInscription) }}
    </div>
    <div class="ligneFormulaire">
        {{ form_label(sortieForm.nbInscriptionsMax) }}
        {{ form_widget(sortieForm.nbInscriptionsMax) }}
    </div>
    <div class="ligneFormulaire">
        {{ form_label(sortieForm.infosSortie) }}
        {{ form_widget(sortieForm.infosSortie) }}
    </div>

    <div class="ligneFormulaire">
        {{ form_label(sortieForm.campus) }}
        {{ form_widget(sortieForm.campus) }}
    </div>

{#    </form>#}

        <label for="ville" id="ligneFormulaire">Ville :
            <select name="nomVille" id="nomVille">

                <option value="">Sélectionnez une ville</option>

                {% for ville in villes %}
                    <option value="{{ ville.id }}">{{ ville.nom }}</option>
                {% endfor %}
            </select>
        </label>


    <div class="ligneFormulaire">
        {{ form_label(sortieForm.lieu) }}
        {{ form_widget(sortieForm.lieu) }}
    </div>
    <p id="lieu-details"></p>
    <div class= "boutons">
        <button id="enregistrer">{% block buttonLabel1 %}Enregistrer{% endblock %}</button>


        <div class="test">
            <h2 id="h2"></h2>
        </div>


    </div>
    {{ form_end(sortieForm) }}
<div class="returnButton">
    <button id="annuler">{% block buttonLabel3 %}Annuler{% endblock %}</button>
</div>
    <script>
        //deux boutons : premier pour afficher le formulaire via pop up, second pour submit le formulaire
        {#const showLieuFormBtn = document.getElementById('show-lieu-form-btn');#}
        {#const lieuForm = document.getElementById('lieu-form');#}

        {#// gestion du click event#}
        {#showLieuFormBtn.addEventListener('click', function() {#}
        {#    // si le formulaire est non visible alors rendu visible via le block display sinon rendu non visible#}
        {#    if (lieuForm.style.display === 'none') {#}
        {#        lieuForm.style.display = 'block';#}
        {#    } else {#}
        {#        lieuForm.style.display = 'none';#}
        {#    }#}
        {#});#}

        {#// gère le submit du formulaire#}
        {#lieuForm.addEventListener('click', function(event) {#}
        {#    event.preventDefault(); // empêche les formulaires vides#}

        {#    // récupère la data du formulaire#}
        {#    const formData = new FormData(lieuForm);#}

        {#    // envoie la data grace à AJAX#}
        {#    fetch('{{ path('lieu_add') }}', {#}
        {#        method: 'POST',#}
        {#        body: formData#}
        {#    })#}
        {#        .then(response => response.json())#}
        {#        .then(data => {#}
        {#            // Gère la réponse du serv#}
        {#            console.log(data);#}
        {#        })#}
        {#        .catch(error => {#}
        {#            console.error(error);#}
        {#        });#}
        {#});#}
        document.getElementById('annuler').addEventListener('click', function () {
            window.location.href = "{{ path('main_homepage') }}"
        })

        document.getElementById('enregistrer').addEventListener('click', function() {
            window.location.href =  "{{ path('profile_update', {'id': app.user.id}) }}";
        })

        document.getElementById('sortie_lieu').addEventListener('change', function() {
            let selectedLieuId = this.value; // Récupère l'ID du lieu sélectionné
            console.log(selectedLieuId)
            // Effectue la requête AJAX
            fetch('{{ path('lieu_get_lieu_details') }}', {
                method: 'POST',
                body: JSON.stringify({ id: selectedLieuId }), // Envoie l'ID du lieu au contrôleur
                headers: {
                    'Content-Type': 'application/json'
                }
            })
                .then(response => response.json())
                .then(data => {
                    // Affiche les détails du lieu dans la balise <p>
                    let lieuDetails = document.getElementById('lieu-details');
                    lieuDetails.innerHTML = `Longitude : ${data.longitude}<br>
                                 Latitude : ${data.latitude}<br>
                                 Rue : ${data.rue}`;
                })
                .catch(error => {
                    console.error(error);
                });
        });

        document.getElementById('nomVille').addEventListener('change', function() {
            let selectedVilleId = this.value; // Récupère l'ID de la ville sélectionnée
            // Effectue la requête AJAX
            fetch('{{ path('lieu_lieu_get_lieux_by_ville') }}', {
                method: 'POST',
                body: JSON.stringify({ id: selectedVilleId }), // Envoie l'ID de la ville au contrôleur
                headers: {
                    'Content-Type': 'application/json'
                }
            })
                .then(response => response.json())
                .then(data => {
                    // Met à jour le select des lieux avec les lieux récupérés
                    let selectLieu = document.getElementById('sortie_lieu');
                    selectLieu.innerHTML = ''; // Vide les options actuelles

                    data.forEach(lieu => {
                        selectLieu.innerHTML += `<option value="${lieu.id}">${lieu.nom}</option>`;
                    });
                })
                .catch(error => {
                    console.error(error);
                });
        });



    </script>

{% endblock %}