{% extends 'base.html.twig' %}

{% block title %}
{{ parent() }} | Ville

{% endblock %}

{% block body %}
    <h2>Gérer les villes</h2>

    <form action="{{ path('ville_find') }}" >
        <div class="formRecherche">
        <label for="recherche">Nom de la ville : </label>
        <label>
            <input type="search" name="recherche">
        </label>
        <input type="submit" value="Rechercher">
        </div>
    </form>

    <table>
        <thead>
        <tr>
            <th>Ville</th>
            <th>Code postal</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for v in ville %}
            <tr>
                <td>{{ v.nom }}</td>
                <td>{{ v.codePostal }}</td>
                <td>
                    <div class="supprModif">
                        <a href="{{ path('ville_update', {'id': v.id}) }}">Modifier</a>
                        -
                        <a href="{{ path('ville_delete', {'id': v.id})}}">Supprimer</a>
                    </div>
                </td>
            </tr>
        {% endfor %}

        <tr>
            <td> </td>
            <td> </td>
            <td><div class="ajouter"><a href='{{ path('ville_add') }}'>Ajouter</a></div></td>
        </tr>

        </tbody>
    </table>






{% endblock %}

