{% extends 'base.html.twig' %}

{% block title %}
{{ parent() }} | Ville

{% endblock %}

{% block body %}
    <h2>Gérer les villes</h2>

    <form action="{{ path('ville_find') }}" >
        <label for="recherche">Nom de la ville : </label>
        <input type="search" name="recherche">
        <input type="submit" value="Rechercher">
    </form>

    <table>
        <thead>
        <tr>
            <th>Ville</th>
            <th>Code postal</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for v in ville %}
            <tr>
                <td>{{ v.nom }}</td>
                <td>{{ v.codePostal }}</td>
                <td><a href="{{ path('ville_update', {'id': v.id}) }}">Modifier</a> - <a href="{{ path('ville_delete', {'id': v.id})}}">Supprimer</a></td>
            </tr>
        {% endfor %}

        <tr>
            <td> </td>
            <td><a href='{{ path('ville_add') }}'>Ajouter</a></td>
        </tr>

        </tbody>
    </table>






{% endblock %}

