<nav>
    <ul>

        <li><a href="{{ path('app_ville') }}">Villes</a></li>
        <li><a href="{{ path('app_campus') }}">Campus</a></li>
        <li><a href="">Accueil</a></li>
        <li><a href="{{ path('app_participant') }}">Mon profil</a></li>
        <li><a href="{{ path('app_logout') }}">Se déconnecter</a></li>

{#        {% if app.user %}#}
{#            <li><a href="{{ path('serie_add') }}">New TV show</a></li>#}
{#            <li><a href="{{ path('app_logout') }}">Logout ({{ app.user.firstname }})</a></li>#}
{#        {% else %}#}
{#            <li><a href="{{ path('app_login') }}">Login</a></li>#}
{#            <li><a href="{{ path('app_register') }}">Register</a></li>#}
{#        {% endif %}#}

    </ul>
</nav>